@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');


body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    gap: 10rem;
    padding: 21px 35px;
    height: 100px;
}

.left-menu {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
}

.left-menu::before {
    content: url(mail\ \(image\).png);
}

.ninja {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: 41px;

}

.right-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.choose {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 12px;
    margin-left: 12px;

}

.select {
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 1.275px;
    display: flex;
    justify-content: right;
    border-bottom: 5px solid #4BA87D;
    text-align: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.sign-up {
    color: #FFF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 1.275px;
    background-color: #4BA87D;
    border: #4BA87D;
    width: 141px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 0;
}

.left-img1 {
    position: relative;
    top: 0;
    left: 110px;
    z-index: 1;
}

.title1 {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-size: 59px;
    font-style: normal;
    font-weight: 900;
    line-height: 71px;
    height: 142px;
    width: 489px;
}

.description-title1 {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    height: 52px;
    width: 446px;
}

.img1 {
    box-shadow: 1px 1px 10px -1px grey;
}

.button-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 45px;
    padding-top: 20px;
    padding-right: 20px;

}

.try-now {
    width: 150px;
    height: 45px;
    color: #FFF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1.05px;
    background-color: #4BA87D;
    border: #4BA87D;
}

.get-demo {
    width: 150px;
    height: 45px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 2.1px;
    color: #4BA87D;
    border: 3px solid #4BA87D;
    background-color: #FFF;

}

.reach {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(slash_black\ \(image\).png);
    background-size: cover;
    background-position: -100px;
    height: 744px;
    margin-top: 70px;

}

.middle-reach {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 944px;
    height: 530px;
    margin-left: 50px;
    background-image: url(VIDEO\ \(image\).png);

}

.title-reach {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 80px;
    display: flex;

}

.button-reach {
    color: #4BA87D;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1.05px;
    background-color: #FFF;
    border: 4px solid #4BA87D;
    width: 200px;
    height: 65px;
    margin-top: 40px;

}

.third-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;

}

.third-picture {
    display: grid;
    grid-template-columns: 342px 342px 342px;
    grid-template-rows: 230px;
    gap: 10px;
}

.picture {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
}

.first {
    background-image: url(photo.png);


}

.second {
    background-image: url(photo\ \(1\).png);

}

.third {
    background-image: url(photo\ \(2\).png);

}

.object-picture {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    margin-left: 27px;
    margin-top: 10px;
}

.description-picture {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin-left: 27px;
    margin-bottom: 10px;
}

.title-third {
    color: #000;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    width: 900px;
    height: 130px;
    margin-top: 20px;

}

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;

}

input {
    width: 420px;
    height: 65px;
    padding: 0 80px 0 50px;
    border-radius: 5px;
    border: 1px solid #9F9F9F;
    background: #FFF;
}

.join {
    color: #FFF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 1.05px;
    width: 221px;
    height: 65px;
    background: #4BA87D;
    border: #4BA87D;

}

.footer {
    height: 442px;
    background: #4BA87D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;

}

.top-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 11rem;

}

.left-top-footer::before {
    content: url(mail\ \(image\)\ \(1\).png);
    background-color: #4BA87D;
}

.left-top-footer {
    height: 100px;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 31px;

}

.right-top-footer {
    display: grid;
    grid-template-columns: 139px 139px 135px 120px;
    grid-template-rows: 200px;
    gap: 2rem;

}

.link-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;


}

.line-footer {
    width: 1080px;
    height: 3px;
    background: #DBDBDB;
    margin-top: 70px;
    margin-bottom: 40px;

}

.bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.left-bottom-footer {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.right-bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}